.pink {
  color: #FF38A2;
}

.greenMint {
  color: #3C9;
}

.highLighted {
  background: yellow;
}

.listItemTitle {
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .mainContent { /* stylelint-disable */
    lost-column: 4/6;
  }
  .asideContent {
    lost-column: 2/6;
  }
}
