/* stylelint-disable */

:root {
  --pink: #FF38A2;
  --green: #3C9;
}

button,
.button {
  transition: 0.2s ease-in-out;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 18px;
  letter-spacing: 2px;
  border: 1px solid transparent;
  margin:10px;
  vertical-align:middle;
  &:hover,
  &:active,
  &:focus {
    outline:none;
  }
}

button.green,
.button.green {
  background: var(--green);
  border-color: var(--green);
  &:hover,
  &:active {
    background: color(var(--green) shade(10%));
  }
}

button.pink,
.button.pink {
  background: #FF38A2;
  &:hover,
  &:active {
    background: color(#FF38A2 shade(10%));
  }
}

button.gray,
.button.gray {
  background: gray(25%);
  &:hover,
  &:active {
    background: gray(15%);
  }
}

button.default,
.button.default {
  font-size: 16px;
}

button.small,
.button.small {
  font-size: 12px;
}

button.large,
.button.large {
  font-size: 20px;
  letter-spacing: 3px;
  padding-left: 24px;
  padding-right: 24px;
}
