/**
 * styles.css
 *
 * App container styles
 */

/* Lost Config */

@lost gutter 18px;

@global pink #FF38A2;
@global green #39C;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body > div,
.appWrapper {
  height: 100%;
}

article {
  min-height: 100%;
  padding-bottom: 100px;
}

section {
  overflow-y: auto;
  padding: 24px;
  clear: fix;
}

hr {
  border-color: color(#ECF0F1 alpha(20%));
}

/* Typography */

html {
  font-size: 18px;
}

body { /* stylelint-disable */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  font-size: 18px;
  color: gray(35%);
  line-height: 1.45;
}

b,
em {
  font-weight: 700;
}

li {
  margin-bottom: 16px;
}

li ol li:first-child,
li ul li:first-child {
  margin-top: 16px;
}

li ol li,
li ul li {
  margin-bottom: 16px;
}

li p {
  margin: 0;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

ol li ol li:last-child {
  margin-bottom: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li::before {
  content: counters(item, '.') '. ';
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin-left: 0;
}

li ol > li::before {
  content: counters(item, '.') '. ';
}
